<h3>{{ company.businessName }}</h3>
<ul>
    <li>Y-tunnus: {{ company.businessId }}</li>
    <li>Rekisteröintipäivämäärä: {{ company.registrationDate }}</li>
    <li>Yritysmuoto: {{ company.companyForm }}</li>
    <li>Lisädata: <a href="{{ company.detailsUri }}">Linkki</a></li>
</ul>
<a href="{% url 'index' %}">Takaisin</a>