{% if companies %}
    <table>
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Y-tunnus</th>
                <th>Linkki</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.businessName }}</td>
                <td>{{ company.businessId }}</td>
                <td><a href="{% url 'detail' company.id %}">Tiedot</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei yrityksiä.</p>
{% endif %}